# PlatformIO
.pio/
.vscode/

# Arquivos compilados e build
*.elf
*.bin
*.hex
*.map
*.o
*.a
src/build/

# Sistema operacional
.DS_Store
Thumbs.db

# Logs
*.log

# Documentação gerada
/docs/_build/

# Arquivos temporários
*~
*.swp
*.tmp
